.service_main {
  font-family: "Poppins", sans-serif;
  background-color: #1f242d;
  color: #fff;
}
.service__card {
  font-family: "Poppins", sans-serif;
  background-color: #1f242d;
  color: #fff;
}
.service__card .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bg-custom-Color {
  transition: color 0.3s ease-in-out;
  background-color: #323946;
  color: #fff;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bg-custom-Color:hover {
  border: 1px solid #da712c;
  transform: scale(1.02);
  transition: 0.5s ease;
}

.bg-custom-Color:hover .icon-style {
  color: #f25476;
}

.icon-style {
  transition: color 0.3s ease-in-out;
}

.icon-style:hover {
  color: #f25476;
}
.service-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1.4;
}

.btn-readmore {
  display: inline-block;
  padding: 0.6rem 1.5rem;
  background: #da712c;
  border-radius: 4rem;
  /* box-shadow: 0 0 0.4rem #da712c; */
  font-size: 1.2rem;
  color: #323946;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

.btn-readmore:hover {
  color: #323946 !important;
}
.color_custom_text-edu {
  font-size: medium;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
@media (min-width: 320px) and (max-width: 768px) {
  .service_main {
    padding: 18px !important;
  }
  .service-box {
    min-width: 100%;
    margin-bottom: 15px;
  }
  .service-box p {
    font-size: 1rem;
  }
  .btn-readmore {
    font-size: 0.9rem;
  }
  .icon-style {
    width: 50px;
  }
  .icon_back_style h3 {
    margin-bottom: 0;
  }
  .bg-custom-Color {
    height: auto !important;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #da712c;
  }
  .education__title {
    margin-bottom: 0.5rem !important;
  }

  .color_custom_text-edu {
    letter-spacing: 2px;
    word-spacing: 2px;
  }
}
