.image_round{
    border-radius: 50%;
}

.bg__color__white{
   background-color: #e6e5e5d0;
}

.color__yellow__stack{
    color: var(--primary-color);
}

.sky_blue_color{
background-color: #89ABE3;
color: #fff;
}
.bubblegum_pink_color {
    background-color: var(--primary-color);
    color: #fff;
}
.p_100 {
    /* padding: 100px; */
    padding-left: 100px;
    padding-right: 10px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.home__section{
    /* border-bottom: ; */
    -webkit-box-shadow: 20px 6px 32px 11px #dddddd;
        -moz-box-shadow: 20px 6px 32px 11px #dddddd;
        box-shadow: 20px 6px 32px 11px #dddddd;
}
.custom_bg_color_wp{
    /* color: linear-gradient(to bottom right,
                #403F44, #1E1B32); */
    color : #0dc143;
}


@media (min-width: 320px) and (max-width: 768px) {
    .home__section{
        padding-bottom: 2px !important;
    }
    .class-sm-imgdiv {
        text-align: center;
    }
    .class-sm-img{
        margin: 0 !important;
        width: 40% !important;
        height: 40% !important;

    }
    .class-sm-sec-two{
        padding: 10px !important;
        text-align: center;
    }
    .class-sm-sec-two h2 {
        font-size: 18px;
      }
    .Typewriter__wrapper{
        font-size: 16px !important;
    }
    .class-sm-sec-btn {
        margin-top: 1rem !important;
    }
    .class-sm-sec-btn a {
        font-size: 16px !important;
    }
    ._blank{
        display: none;
    }
}