/* Scrollbar Styles */
/* For WebKit browsers (e.g., Chrome, Safari) */
/* ::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-thumb {
  background-color: #f25476; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #8AAAE5; 
} */

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  /* background: transparent; */
  background: #1f242d;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  /* background: #1f242d; */
  background: #da712c;
  /* transition: var(--transition); */
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  /* background: orangered; */
  background: transparent;
  border: 2px solid #da712c;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: none;
}

/* @media (min-width: 320px) and (max-width: 768px) {
  body {
    overflow: hidden;
  }
} */
/* .scroller {
  overflow-y: scroll;
  scrollbar-color: #0a4c95 #c2d2e4;
} */
